body {
  font-family: Arial;
  font-color: black
}

h1 {
  text-align: right;
  margin: 0
}

.container {
  margin-left: 0px;
  margin-left: 0px
}

a, a:hover, p {
  color: #000;
  font-size:14px
}

p {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#navList, #navList li{
	margin:0;
	padding:0;
	list-style-type:none;
	text-align:right;
	padding-bottom:1em;
}

#spacing-upper {
  margin-bottom: 10vh
}
