<html>

  <head>
    <title>Supreme Bot Info Panel</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/optionnew.css">

    <style>
      .payment input[type="text"],
      .payment input[type="email"] {
        height: 2em;
      }
      
      .payment #cart-cvv input {
        width: 3.5em;
      }

    </style>
    <script src='jquery-1.9.1.min.js'></script>

  </head>

  <body class=" cart checkout_page us" data-no-turbolink="data-no-turbolink">
    <header id="header">
      <hgroup>
        <h1 class="logo"><a>Supreme</a></h1>
      </hgroup>
    </header>
    <div id="wrap">
      <div id="content">
        <form accept-charset="UTF-8" class="simple_form new_order" id="checkout_form" novalidate="novalidate">
          <div class="payment" id="cart-body">
            <div>
              <fieldset>
                
                <div class="input string required">
                  <label style="background:#fff;" class="string required control-label" for="status">Activation Status</label>
                  <span class="string required" first_and_last="true" id="status" name="status" required="required"></span>
                </div>
                <br/>

                <div class="input string required">
                  <label style="background:#fff;" class="string required control-label" for="fname">FName</label>
                  <input class="string required" first_and_last="true" id="fname" name="order[billing_fname]" required="required" size="50" type="text" value="" />
                </div>
                <div class="input string required">
                  <label style="background:#fff;" class="string required control-label" for="lname">LName</label>
                  <input class="string required" first_and_last="true" id="lname" name="order[billing_lname]" required="required" size="50" type="text" value="" />
                </div>
                <div class="input email required">
                  <label style="background:#fff;" class="email required control-label" for="mail">Email</label>
                  <input class="string email required" id="mail" name="order[email]" size="50" type="email" value="" />
                </div>
                <div class="input string required">
                  <label style="background:#fff;" class="string required control-label" for="tel">Phone</label>
                  <input class="string required" id="tel" name="order[tel]" size="50" tel="true" type="text" value="" />
                </div>
                <div class="input string required">
                  <label style="background:#fff;" class="string required control-label" for="adr">Address</label>
                  <input class="string required" id="adr" name="order[billing_address]" required="required" size="50" type="text" value="" />
                </div>
                <div class="input string required">
                  <label style="background:#fff;" class="string required control-label" for="zip" id="zip_label">Zip Code</label>
                  <input class="string required" id="zip" name="order[billing_zip]" required="required" size="10" style="width:auto" type="text" value="" zipcode="true" />
                </div>
                <div class="input string required">
                  <label style="background:#fff;" class="string required control-label" for="city">City</label>
                  <input class="string required" id="city" name="order[billing_city]" required="required" size="50" type="text" value="" />
                </div>
                <div class="input select optional thestate">
                  <label style="background:#fff;" class="select optional control-label" for="state" id="state_label">Province</label>
                  <select class="select optional" id="state" name="order[billing_state]">
                    <option value=""></option>
                    <option value="AB">AB</option>
                    <option value="BC">BC</option>
                    <option value="MB">MB</option>
                    <option value="NB">NB</option>
                    <option value="NL">NL</option>
                    <option value="NT">NT</option>
                    <option value="NS">NS</option>
                    <option value="NU">NU</option>
                    <option value="ON">ON</option>
                    <option value="PE">PE</option>
                    <option value="QC">QC</option>
                    <option value="SK">SK</option>
                    <option value="YT">YT</option>
                  </select>
                </div>
                <div class="input select optional">
                  <label style="background:#fff;" class="select optional control-label" for="country">Country</label>
                  <select class="select optional" id="country" name="order[billing_country]">
                    <option disabled="disabled">America</option>
                    <option value="USA">USA</option>
                    <option value="CANADA">CANADA</option>
                    <option disabled="disabled">Asia</option>
                    <option value="JAPAN">JAPAN</option>
                    <option disabled="disabled">Europe</option>
                    <option value="GB">UK</option>
                    <option value="NB">UK (N. IRELAND)</option>
                    <option value="AT">AUSTRIA</option>
                    <option value="BY">BELARUS</option>
                    <option value="BE">BELGIUM</option>
                    <option value="BG">BULGARIA</option>
                    <option value="HR">CROATIA</option>
                    <option value="CZ">CZECH REPUBLIC</option>
                    <option value="DK">DENMARK</option>
                    <option value="EE">ESTONIA</option>
                    <option value="FI">FINLAND</option>
                    <option value="FR">FRANCE</option>
                    <option value="DE">GERMANY</option>
                    <option value="GR">GREECE</option>
                    <option value="HU">HUNGARY</option>
                    <option value="IS">ICELAND</option>
                    <option value="IE">IRELAND</option>
                    <option value="IT">ITALY</option>
                    <option value="LV">LATVIA</option>
                    <option value="LT">LITHUANIA</option>
                    <option value="LU">LUXEMBOURG</option>
                    <option value="MC">MONACO</option>
                    <option value="NL">NETHERLANDS</option>
                    <option value="NO">NORWAY</option>
                    <option value="PL">POLAND</option>
                    <option value="PT">PORTUGAL</option>
                    <option value="RO">ROMANIA</option>
                    <option value="RU">RUSSIA</option>
                    <option value="SK">SLOVAKIA</option>
                    <option value="SI">SLOVENIA</option>
                    <option value="ES">SPAIN</option>
                    <option value="SE">SWEDEN</option>
                    <option value="CH">SWITZERLAND</option>
                    <option value="TR">TURKEY</option>
                    <option value="UA">UKRAINE</option>
                  </select>
                </div>
                <br/>

                <div class="input select optional">
                  <label style="background:#fff;" class="string required control-label" for="size">Size</label>
                  <select class="string required" id="size" name="size" style="width:150px" tabindex="9">
                    <option value="" disabled="disabled" selected="selected">- Select your size --</option>
                    <option value="" disabled="disabled">Shoes sizes</option>
                    <option value="8">8</option>
                    <option value="8.5">8.5</option>
                    <option value="9">9</option>
                    <option value="9.5">9.5</option>
                    <option value="10">10</option>
                    <option value="10.5">10.5</option>
                    <option value="11">11</option>
                    <option value="11.5">11.5</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="" disabled="disabled">Pants sizes</option>
                    <option value="30">30</option>
                    <option value="32">32</option>
                    <option value="34">34</option>
                    <option value="36">36</option>
                    <option value="" disabled="disabled">Jackets/Coats/Shirts sizes</option>
                    <option value="Small">Small</option>
                    <option value="Medium">Medium</option>
                    <option value="Large">Large</option>
                    <option value="XLarge">XLarge</option>
                    <option value="" disabled="disabled">Hat sizes</option>
                    <option value="7 1/8">7 1/8</option>
                    <option value="7 1/4">7 1/4</option>
                    <option value="7 3/8">7 3/8</option>
                    <option value="7 1/2">7 1/2</option>
                    <option value="7 5/8">7 5/8</option>
                    <option value="7 3/4">7 3/4</option>
                    <option value="S/M">S/M</option>
                    <option value="M/L">M/L</option>
                    <option value="L/XL">L/XL</option>
                    <option value="" disabled="disabled">Trucks</option>
                    <option value="129">129</option>
                    <option value="139">139</option>
                    <option value="149">149</option>
                    <option value="" disabled="disabled">UK Shoe Sizes</option>
                    <option value="US 8 / UK 7">US 8 / UK 7</option>
                    <option value="US 8.5 / UK 7.5">US 8.5 / UK 7.5</option>
                    <option value="US 9 / UK 8">US 9 / UK 8</option>
                    <option value="US 10 / UK 9">US 10 / UK 9</option>
                    <option value="US 10.5 / UK 9.5">US 10.5 / UK 9.5</option>
                    <option value="US 11 / UK 10">US 11 / UK 10</option>
                    <option value="US 11.5 / UK 10.5">US 11.5 / UK 10.5</option>
                    <option value="US 12 / UK 11">US 12 / UK 11</option>
                    <option value="US 12.5 / UK 11.5">US 12.5 / UK 11.5</option>
                    <option value="US 13 / UK 12">US 13 / UK 12</option>
                  </select>
                </div>
                <div class="input select optional">
                  <label style="background:#fff;" class="string required control-label" for="Category">Category</label>
                  <select class="string required" id="category" name="category" style="width:150px" tabindex="9">
                    <option value="" disabled="disabled" selected="selected">Select Category</option>
                    <option value="jackets">jackets</option>
                    <option value="shirts">shirts</option>
                    <option value="tops_sweaters">tops/sweaters</option>
                    <option value="sweatshirts">sweatshirts</option>
                    <option value="pants">pants</option>
                    <option value="t-shirts">t-shirts</option>
                    <option value="hats">hats</option>
                    <option value="bags">bags</option>
                    <option value="accessories">accessories</option>
                    <option value="skate">skate</option>
                    <option value="shoes">shoes</option>
                    <option value="shorts">shorts</option>
                  </select>
                </div>
                <div class="input string required">
                  <label style="background:#fff;" class="string required control-label" for="keyword">Keyword</label>
                  <input class="string required" first_and_last="true" id="keyword" name="order[keyword]" required="required" size="50" type="text" value="" />
                </div>
                <div class="input string required">
                  <label style="background:#fff;" class="string required control-label" for="color">Color</label>
                  <input class="string required" first_and_last="true" id="color" name="order[color]" required="required" size="50" type="text" value="" />
                </div>
                <br/>


                <div class="input select required">
                  <label style="background:#fff;" class="select required control-label" for="credit_card_type">Provider</label>
                  <select class="select required" id="credit_card_type" name="credit_card[type]">
                    <option value="visa">Visa</option>
                    <option value="american_express">American Express</option>
                    <option value="master">Mastercard</option>
                  </select>
                </div>
                <div class="input string required">
                  <label style="background:#fff;" class="string required control-label" for="credit_card_number">Card Number</label>
                  <input class="string required" id="credit_card_number" name="credit_card[number]" size="50" type="text" value="123412341234" /><span class="error">is not a valid credit card number</span>
                </div>
                <div class="input string required">
                  <label style="background:#fff;" class="string required control-label" for="credit_card_month">Expiration Date</label>
                  <select id="credit_card_month" name="credit_card[month]">
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                  </select>
                  <select id="credit_card_year" name="credit_card[year]">
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                    <option value="2025">2025</option>
                    <option value="2026">2026</option>
                    <option value="2027">2027</option>
                    <option value="2028">2028</option>
                  </select>
                </div>
                <div class="input string required" id="cart-cvv">
                  <label style="background:#fff;" class="string required control-label" for="credit_card_verification_value">CVV</label>
                  <input class="string required" id="credit_card_verification_value" maxlength="4" name="credit_card[verification_value]" size="100" type="text" value="" />
                </div>
                <br/>


                <input id="same_as_billing_address" name="same_as_billing_address" type="hidden" value="1" />
                <input id="store_credit_id" name="store_credit_id" type="hidden" value="" />
                <div class="input string optional store-address-checkbox">
                  <label style="background:#fff;" class="string optional control-label" for="ischeckout" id="store-address">Automatic Checkout?</label>
                  <input style="margin-top:4px;" class="checkbox" id="ischeckout" name="store_address" type="checkbox" value="1" />
                </div>
                <div class="input string optional store-address-checkbox">
                  <label style="background:#fff;" class="string optional control-label" for="checkoutdelay" id="checkoutdelay">Checkout Delay(ms)</label>
                  <input class="string required" id="checkout_delay" style="width:100px;" name="checkout_delay" size="10" type="text" value="0" />
                </div>
                <br/>
                <input id="commit-button" class="button checkout" data-disable-with="PLEASE WAIT..." name="commit" type="button" value="Save" />
                <br/>
                <input id="startnow" class="button" name="startnow" type="button" value="Start Now" />
                </br>
                <label style="background:#fff;" class="col-sm-2 control-label">Start Time:</label>
                <div class="col-sm-10">
                  <select name="hr" id="hr" class="form-control" style="width:55px; display: inline-block;">
                    <option value="1" selected>01</option>
                    <option value="2">02</option>
                    <option value="3">03</option>
                    <option value="4">04</option>
                    <option value="5">05</option>
                    <option value="6">06</option>
                    <option value="7">07</option>
                    <option value="8">08</option>
                    <option value="9">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                  </select>
                  <select name="min" id="min" class="form-control" style="width:55px; display: inline-block;">
                    <option value="0" selected>00</option>
                    <option value="1">01</option>
                    <option value="2">02</option>
                    <option value="3">03</option>
                    <option value="4">04</option>
                    <option value="5">05</option>
                    <option value="6">06</option>
                    <option value="7">07</option>
                    <option value="8">08</option>
                    <option value="9">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                    <option value="32">32</option>
                    <option value="33">33</option>
                    <option value="34">34</option>
                    <option value="35">35</option>
                    <option value="36">36</option>
                    <option value="37">37</option>
                    <option value="38">38</option>
                    <option value="39">39</option>
                    <option value="40">40</option>
                    <option value="41">41</option>
                    <option value="42">42</option>
                    <option value="43">43</option>
                    <option value="44">44</option>
                    <option value="45">45</option>
                    <option value="46">46</option>
                    <option value="47">47</option>
                    <option value="48">48</option>
                    <option value="49">49</option>
                    <option value="50">50</option>
                    <option value="51">51</option>
                    <option value="52">52</option>
                    <option value="53">53</option>
                    <option value="54">54</option>
                    <option value="55">55</option>
                    <option value="56">56</option>
                    <option value="57">57</option>
                    <option value="58">58</option>
                    <option value="59">59</option>
                  </select>
                  <select name="apm" id="apm" class="form-control" style="width:60px; display: inline-block;">
                    <option value="am" selected>AM</option>
                    <option value="pm">PM</option>
                  </select>
                  <input id="start" class="button" name="start" type="button" value="Start" />
                </div>
                <br/>
                <br/>
                <br/>
                
                <br/>
              </fieldset>
            </div>
          </div>
        </form>
      </div>
    </div>
    <script id="states-USA" type="text/x-tmpl">
      <option value=""></option>
      <option value="AL">AL</option>
      <option value="AK">AK</option>
      <option value="AS">AS</option>
      <option value="AZ">AZ</option>
      <option value="AR">AR</option>
      <option value="CA">CA</option>
      <option value="CO">CO</option>
      <option value="CT">CT</option>
      <option value="DE">DE</option>
      <option value="DC">DC</option>
      <option value="FM">FM</option>
      <option value="FL">FL</option>
      <option value="GA">GA</option>
      <option value="GU">GU</option>
      <option value="HI">HI</option>
      <option value="ID">ID</option>
      <option value="IL">IL</option>
      <option value="IN">IN</option>
      <option value="IA">IA</option>
      <option value="KS">KS</option>
      <option value="KY">KY</option>
      <option value="LA">LA</option>
      <option value="ME">ME</option>
      <option value="MH">MH</option>
      <option value="MD">MD</option>
      <option value="MA">MA</option>
      <option value="MI">MI</option>
      <option value="MN">MN</option>
      <option value="MS">MS</option>
      <option value="MO">MO</option>
      <option value="MT">MT</option>
      <option value="NE">NE</option>
      <option value="NV">NV</option>
      <option value="NH">NH</option>
      <option value="NJ">NJ</option>
      <option value="NM">NM</option>
      <option value="NY">NY</option>
      <option value="NC">NC</option>
      <option value="ND">ND</option>
      <option value="MP">MP</option>
      <option value="OH">OH</option>
      <option value="OK">OK</option>
      <option value="OR">OR</option>
      <option value="PW">PW</option>
      <option value="PA">PA</option>
      <option value="PR">PR</option>
      <option value="RI">RI</option>
      <option value="SC">SC</option>
      <option value="SD">SD</option>
      <option value="TN">TN</option>
      <option value="TX">TX</option>
      <option value="UT">UT</option>
      <option value="VT">VT</option>
      <option value="VI">VI</option>
      <option value="VA">VA</option>
      <option value="WA">WA</option>
      <option value="WV">WV</option>
      <option value="WI">WI</option>
      <option value="WY">WY</option>
    </script>
    <script id="states-CANADA" type="text/x-tmpl">
      <option value=""></option>
      <option value="AB">AB</option>
      <option value="BC">BC</option>
      <option value="MB">MB</option>
      <option value="NB">NB</option>
      <option value="NL">NL</option>
      <option value="NT">NT</option>
      <option value="NS">NS</option>
      <option value="NU">NU</option>
      <option value="ON">ON</option>
      <option value="PE">PE</option>
      <option value="QC">QC</option>
      <option value="SK">SK</option>
      <option value="YT">YT</option>
    </script>
    <script id="states-JAPAN" type="text/x-tmpl">
      <option value=""></option>
      <option value=" 北海道"> 北海道</option>
      <option value=" 青森県"> 青森県</option>
      <option value=" 岩手県"> 岩手県</option>
      <option value=" 宮城県"> 宮城県</option>
      <option value=" 秋田県"> 秋田県</option>
      <option value=" 山形県"> 山形県</option>
      <option value=" 福島県"> 福島県</option>
      <option value=" 茨城県"> 茨城県</option>
      <option value=" 栃木県"> 栃木県</option>
      <option value=" 群馬県"> 群馬県</option>
      <option value=" 埼玉県"> 埼玉県</option>
      <option value=" 千葉県"> 千葉県</option>
      <option value=" 東京都"> 東京都</option>
      <option value=" 神奈川県"> 神奈川県</option>
      <option value=" 新潟県"> 新潟県</option>
      <option value=" 富山県"> 富山県</option>
      <option value=" 石川県"> 石川県</option>
      <option value=" 福井県"> 福井県</option>
      <option value=" 山梨県"> 山梨県</option>
      <option value=" 長野県"> 長野県</option>
      <option value=" 岐阜県"> 岐阜県</option>
      <option value=" 静岡県"> 静岡県</option>
      <option value=" 愛知県"> 愛知県</option>
      <option value=" 三重県"> 三重県</option>
      <option value=" 滋賀県"> 滋賀県</option>
      <option value=" 京都府"> 京都府</option>
      <option value=" 大阪府"> 大阪府</option>
      <option value=" 兵庫県"> 兵庫県</option>
      <option value=" 奈良県"> 奈良県</option>
      <option value=" 和歌山県"> 和歌山県</option>
      <option value=" 鳥取県"> 鳥取県</option>
      <option value=" 島根県"> 島根県</option>
      <option value=" 岡山県"> 岡山県</option>
      <option value=" 広島県"> 広島県</option>
      <option value=" 山口県"> 山口県</option>
      <option value=" 徳島県"> 徳島県</option>
      <option value=" 香川県"> 香川県</option>
      <option value=" 愛媛県"> 愛媛県</option>
      <option value=" 高知県"> 高知県</option>
      <option value=" 福岡県"> 福岡県</option>
      <option value=" 佐賀県"> 佐賀県</option>
      <option value=" 長崎県"> 長崎県</option>
      <option value=" 熊本県"> 熊本県</option>
      <option value=" 大分県"> 大分県</option>
      <option value=" 宮崎県"> 宮崎県</option>
      <option value=" 鹿児島県"> 鹿児島県</option>
      <option value=" 沖縄県"> 沖縄県</option>
    </script>
  </body>
  <script src='options.js'></script>

</html>
