/*
 * Globals
 */

@font-face { font-family: SpecialElite; src: url('../fonts/SpecialElite.ttf'); } 
html {
  overflow-x: hidden;
}


body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
  overflow-x: hidden;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Myriad Set Pro",
  "Helvetica Neue",
  Helvetica,
  Arial,
  sans-serif;
  font-weight: normal;
  color: #000000;
  text-align: center;
}

h5, .h5 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #ffffff;
  text-align: center;
}

small, .small {
    font-size: 85%;
    color: #fff;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
.navbar-default {
  background-color: rgba(0,0,0,0);
  border-color: #fff;
}

nav.navbar.navbar-default.navbar-fixed-top.blacked {
  background-color: #000;
}

.navbar-nav>li {
  font-size: 17px;
}

.navbar {
  margin-bottom: 0px;
}

div#formInput {
  float: right;
  margin-right: 7px;
}

img {
  vertical-align: middle;
  padding-left: 15px;
}

.container {
  padding-right: 0px;
  padding-left: 0px; 
  margin-right: auto;
  margin-left: auto;
}


.btn-success {
  color: #fff;
  background-color: #95001F;
  border-color: #95001F;
  margin-left: 5px;
}

.Logo {
  width: auto;
  max-width: 218px;
  float: left;
}

.form-control {
  font-size: 15px;
}

/*------------ Blog name and description -------------*/
.container-fluid {
  padding: 0px
}

.no-overflow {
  position:absolute;
  top:0;
  left: 94%;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 0;
  color:#ccc;
  max-width:90%;
}


/*------------ Blog posts ---------------*/

.container {
  width: 100vw;
}

.blog-post-content {
  padding: 20px 0 3vh 0;
  background-color: #fffdf8;
  text-align: -webkit-center;
  border-style: solid;
  overflow: auto;
}

p {
  margin: 0px 10px 0px 10px;
  text-align: center;
}

b.title {
  color: #FFFFFF;
  font-size: 38px;
  letter-spacing: 3px;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.col-md-4 {
  width: 100%;
  padding-left: 8vw;
  padding-right: 8vw;
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}

.blog-post-container {
  background-color: #fbfaf8;
}

.blog-post-title {
  margin-bottom: 0px;
  padding-top: 13vh;
  background-color: transparent;
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  text-transform: uppercase;
  background-image: url(../Images/WineBottles.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 31vh;
}

.blog-post-subheading {
  background-color: #fff8e7;
  padding: 5vw;
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  font-size: 24px;
}

p.text-one, li {
  font-size: 18px;
}


img.iPhone-Image {
    width: 100%;
}

/*------------------ Footer ------------------*/
.col-xs-12 {
    width: 100%;
    background-color: #000000;
}

footer {
  display: block;
  text-align: center;
  font-size: 18px;
}

a {
  color: #95001F;
  text-decoration: none;
}

/*------------- Override Bootstrap's default if screen gets too big. --------------*/
@media (min-width: 320px) {
  .container {
    width: 100%;
    padding: 0;
    background-color: #000;
    margin-top: 7%;
  }
  .navbar-nav {
    margin: 44.5px -7px;
  }
  div#formInput {
    display: none;
  }
  .navbar {
    margin-bottom: 0px;
  }
  .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    margin-top: 7%;
  }
  .container>.navbar-header {
    margin-right: -15px;
    margin-left: -30px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 100%;
    margin: 0;
    background-color: rgba(0,0,0,0);
  }
  div#formInput {
    display: none;
  }
  .navbar-nav {
    margin: 0px -5px;
  }
  .navbar {
    margin-right: 0px;
  }
  .navbar-collapse {
    margin-top: 0;
  }
  .navbar-default .navbar-form {
    margin-top: 1%;
  }
  .col-md-4 {
  width: 50%;
  padding-left: 8vw;
  padding-right: 8vw;
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  }
}


@media (min-width: 950px) {
  b.title {
    font-size: 65px;
  }
}

@media (min-width: 1119px) {
  div#formInput {
    display: flex;
  }
}

@media (min-width: 1200px) {
  p.text-one, li {
    font-size: 31px;
  }
  h3, .h3 {
    font-size: 36px;
  }
  .blog-post-subheading {
    font-size: 38px;
  }
  .container {
    width: 100%;
  }
}